/************ GENERAL */
a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
a:hover {
    text-decoration: underline;
}

/************ NAV */
nav {
    display: flex;
    align-items: center;

}

nav > a {
    padding: 10px;
}

nav > img {
    padding: 10px;
}

#store-link {
    margin-right: auto;
}

#dots {
    width: 30px;
}

#user-initial {
    width: 40px;
}

/************ MAIN and FORM */
.center {
    display: block;
    margin: 0px auto 0px auto;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    height: 100px;
    margin-top: 50px;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-style: solid;
    border-radius: 50px;
    border-color: gray;
    border-width: 1px;

    margin-top: 25px;
    width: 600px;
    padding: 2px;
    z-index: 2;
}

#search-bar:hover,
#search-bar:focus {
    box-shadow: 0px 0px 5px gray;
}

#search-img {
    width: 40px;
    margin-left: 0px;
    border-radius: 20px;
}

#search-input {
    height: 25px;
    border: none;
    width: 500px;
}

#microphone {
    width: 25px;
    margin-right: 5px;
}

.button {
    padding: 5px 10px 5px 10px;
    background-color: rgb(245, 245, 245);
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
}
.button:hover {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

#button-container {
    margin-top: 30px;
}

/************ FOOTER */
footer {
    margin-top: calc(100vh - 418px);
    height: 70px;
    background-color: rgb(235, 235, 235);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    margin: 0px 5px 0px 5px;
    color: rgb(51, 51, 51);
    font-size: 15px;
}

#block1 {
    order: -1;
    width: 300px;
}

#block2 {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
    }
    
    #block1 {
        order: 0;
    }
    
    #block2 {
        justify-content: center;
    }
}
